.form {
    padding-top: 20px;
    padding-left: 32px;
}

.form-title__wrapper {
    display: flex;
    justify-content: space-between;
    width: 438px;
}

.form-title {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.form-user__elements {
    display: flex;
    flex-direction: column;
    width: 438px;
    padding-top: 24px;
    padding-left: 12px;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
}

.form-user__elements label {
    margin-bottom: 2px;
    font-size: 8px;
}

.form-user__elements input {
    width: 211px;
    height: 22px;
    margin-bottom: 7px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.form-user__elements textarea {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.edit-button {
    margin-top: -7px;
    padding-right: 24px;
    padding-left: 12px;
    height: 28px;
    color: #fff;
    background-color: #4B51EF;
    border: none;
    border-radius: 5px;
}

.submit-button {
    height: 24px;
    margin-top: 12px;
    margin-left: 354px;
    padding-left: 20px;
    color: #fff;
    background-color: #52cf4f;
    border: none;
    border-radius: 5px;
}

input:required:valid {
    border: 1px solid #d8d8d8;
}

input:required:invalid {
    border: 1px solid #d91313;
}
